body {
  background-color:#111;
  text-align: center;
  color:#fff;
  
}
h2{
   padding-top:4px; 
  font-size:40px;
  margin-top: 50px;
  color: #fff;
}



@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  padding: 10px;
  margin: 0px;
}
body{
  display: flexbox;
  margin: 10px;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background: #00071C;
}
 