.toggleClass {
    position: absolute;
    top: 35px;
    right: 150px;
    width: 20px;
    margin: 2px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.toggleClass:before {
    position: absolute;
    content: 'Light Mode';
    white-space: nowrap;
    left: 25px;

}

body.light .toggleClass {
    background: #091921;
    color: #091921;
    content: 'Dark Mode';
}


body.light .toggleClass:before {
    content: 'Dark Mode';
    white-space: nowrap;
}
